#search-wrapper .lake-toml-field-domain {
  font-family: var(--verso-code-font-family);
  font-style: normal;
  font-weight: normal;
}

#search-wrapper .env-var-domain {
  font-family: var(--verso-code-font-family);
  font-style: normal;
  font-weight: normal;
}

#search-wrapper .lake-option-domain {
  font-family: var(--verso-code-font-family);
  font-style: normal;
  font-weight: normal;
}

#search-wrapper .section-domain {
  font-family: var(--verso-structure-font-family);
  font-style: normal;
  font-weight: bold;
}

#search-wrapper .example-def {
  font-family: var(--verso-code-font-family);
  font-style: normal;
  font-weight: normal;
}

#search-wrapper .tactic-domain {
  font-family: var(--verso-code-font-family);
  font-style: normal;
  font-weight: bold;
}

#search-wrapper .lake-toml-table-domain {
  font-family: var(--verso-code-font-family);
  font-style: normal;
  font-weight: normal;
}

#search-wrapper .lake-command-domain {
  font-family: var(--verso-code-font-family);
  font-style: normal;
  font-weight: normal;
}

#search-wrapper .doc-domain {
  font-family: var(--verso-code-font-family);
  font-style: normal;
  font-weight: normal;
}

#search-wrapper .doc-option-domain {
  font-family: var(--verso-code-font-family);
  font-style: normal;
  font-weight: normal;
}

#search-wrapper .syntax-domain {
  font-family: var(--verso-code-font-family);
  font-style: normal;
  font-weight: normal;
}

#search-wrapper .conv-tactic-domain {
  font-family: var(--verso-code-font-family);
  font-style: normal;
  font-weight: bold;
}

#search-wrapper .tech-term-domain {
  font-family: var(--verso-text-font-family);
  font-style: normal;
  font-weight: normal;
}

